<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="clear()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="sendEmail()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let r of dataLocal.saved" (click)="openRegister(r)">
      <ion-icon mode="md" slot="start" [name]="r.icon" color="primary"></ion-icon>
      <ion-label>
        <h2> {{r.text}} </h2>
        <p> {{r.created | date: 'medium'}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
