<ion-content>
    <ion-slides [options]="swiperOpts">
        <ion-slide>
            <ion-button expand="full" fill="outline" shape="round" (click)="scan()" size="large">
                Scan Code
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>
